.weather-container--forecast {
  /* position: relative; */
  height: 100%;
  width: 100%;
  background-color: #bababa;
  /* border: 2px solid #333; */
}

.weather-forecast__heading {
  font-size: 1.75em;
}

.weather-forecast__location {
  font-size: 1.4em;
}

.weather-forecast__row {
  height: 100%;
  width: 100%;
  position: relative;
  padding: 20px;
  margin: 0 0 10px 0;
  border: none;
}

.weather-forecast__day {
  text-align: left;
  font-size: 1.5em;
  font-weight: 800;
  padding: 0 0 15px 0;
}

.weather-forecast__min-max-temp--high {
  font-size: 1.4rem;
  font-weight: 800;
}

.weather-forecast__row-list {
  display: flex;
  flex-direction: column;

}

.weather-forecast__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;;
  justify-content: space-around;
  padding: 10px 10px 10px 0px;
  border-bottom: 2px solid rgba(241, 241, 241, 0.8);
}

.weather-forecast__time {
  margin: 0 10px 0 0;
}

.weather-forecast__description {
  text-transform: capitalize;
}

@media (min-width: 800px) {

  .weather-forecast__row-list {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    border-bottom: 2px solid rgba(241, 241, 241, 0.8);
  }

  .weather-forecast__item .weather-icon {
    max-width: 45px;
  }

  .weather-forecast__item {
    flex-direction: column;
    padding: 5px 0 20px 0;
    border: none;
    width: calc(13% - 10px);
  }

  .weather-forecast__description {
    font-size: 0.85em;
  }
}