*,
::before,
::after {
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#root {
  height: 100vh;
  min-height: 100vh;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  position: relative;
}
/* "page" wrapper */
.weather-container {
  
  height: 100%;
  position: relative;
  display: block;
}

.weather-container--current,
.weather-container--forecast {
  height: 100%;
  width: 100%;
  position: absolute;
  /* border: 10px solid blue; */
  top: 0;
  left: 0;
  display: inline-table;
}

.weather-card {
  max-width: 800px;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #bababa;
  /* border-left: 2px solid #333;
  border-right: 2px solid #333; */
  display: inline-table;
}